<li><a href="{{path('hopital_administration_homepage',{})}}">Accueil</a></li>
<li><a href="{{path('hopital_administration_viewPatient',{})}}">Gestion des patients</a></li>
<li><a href="{{path('hopital_administration_sejour',{})}}">Gestion des séjours</a></li>

