{% block body %}
	<li><a href="{{path('hopital_administration_accueil',{})}}">Accueil</a></li>
	<li><a href="{{path('hopital_administration_patient',{})}}">Les patients</a></li>
	<li><a href="{{path('maison_ligues_ping_pong_sejours',{})}}">Les séjours</a></li>
