{% extends 'HopitalAdministrationBundle:Default:index.html.twig' %}
{% block corps %}
<h2>Les chambres</h2>
<table>
<tr><th>Chambre</th><th>Service</tr>
{% for chambre in lesChambres %}
<tr>
	<td>{{chambre.getLibelle()}}</td>
	<td>{{chambre.getLeservice().getLibelle()}}</td>
	<td><a href="{{path('hopital_administration_modifService',{id:service.getId()})}}"> Modifier</a></td>
	<td><a href="{{path('hopital_administration_suppService',{id:service.getId()})}}"> Supprimer</a></td>
</tr>
{% else %}
<tr><td>Pas de chambres.</td></tr>
{% endfor %}
</table>
{% endblock %}
